<footer class="main pb-8">
    <div class="gradient-sgda w-full mb-8 pt-1"></div>
    <div class="content-wrapper">
        <div class="content w-fit grid column-gap-30 has-4-columns justify-items-center align-items-center">
            <a href="/discord" target="_blank">
                <img src="/assets/images/icons/discord.svg" alt="Discord" class="display-block"/>
            </a>
            <a href="/linkedin" target="_blank">
                <img src="/assets/images/icons/linkedin.svg" alt="LinkedIn" class="display-block mb-1"/>
            </a>
            <a href="/github" target="_blank">
                <img src="/assets/images/icons/github.svg" alt="Github" class="display-block mb-1"/>
            </a>
            <a href="/itch-io" target="_blank">
                <img src="/assets/images/icons/itch-io.svg" alt="Itch.io" class="display-block mb-1"/>
            </a>
        </div>
    </div>
</footer>