<div class="recent-projects justify-center column-gap-15 row-gap-15 {{ include.class }}">
{% for post in site.posts limit:include.amount %}
    {% assign imageurl = post.url | append: "thumbnail.png" %}
    <a href="{{ post.url }}" class="overflow-hidden text-no-decoration">
        <img src="{{ imageurl }}" class="w-full h-full" alt="{{ post.title }}">
        <div class="relative"><div class="w-full h-full cover"></div></div>
        <h1 class="text-center w-full relative"> {{ post.title }} </h1>
    </a>
{% endfor %}
</div>