<div class='flex flex-row flex-wrap'>
    <a href='/discord' target='_blank'>
        <img
            class='out'
            width='32px'
            height='32px'
            src='/assets/images/icons/discord.svg'
            alt='Discord'
        />
    </a>
    <a href='/linkedin' target='_blank'>
        <img
            class='out'
            width='32px'
            height='32px'
            src='/assets/images/icons/linkedin.svg'
            alt='LinkedIn'
        />
    </a>
    <a href='/github' target='_blank'>
        <img
            class='out'
            width='32px'
            height='32px'
            src='/assets/images/icons/github.svg'
            alt='Github'
        />
    </a>
    <a href='/itch-io' target='_blank'>
        <img
            class='out'
            width='32px'
            height='32px'
            src='/assets/images/icons/itch-io.svg'
            alt='Itch.io'
        />
    </a>
    <a href='/email' target='_blank'>
        <img
            class='out'
            width='32px'
            height='32px'
            src='/assets/images/icons/devpost.svg'
            alt='Devpost'
        />
    </a>
</div>