$clr-code-background: #222;
$clr-code-background-secondary: #242424; 
$clr-code-text: #eee;

$clr-black: #0E1218;;
$clr-black-alt: #0c0f13;
$clr-white: #eee;

$clr-sgda-blue:     #36a8b3;
$clr-sgda-green:    #74b336;
$clr-sgda-yellow:   #ffcf40;
$clr-sgda-red:      #cc3629;


$clr-white: #fff;



$clr-home-light: #4ca1af;

$clr-cover-dark: #0a212f;
$clr-cover-light: #1a83da;
$clr-cover-base: #123851;

$clr-current-dark: #b06ab3;
$clr-current-light: #4568dc;

$clr-gray-dark: #212121;
$clr-gray-light: #414141;
$clr-gray-text: #aaaaaa;

$clr-apple-blue: #007aff;