$clr-navbar-dark: #000428;
$clr-navbar-light: #004e92;
$clr-navbar-hover-dark: #eb3349;
$clr-navbar-hover-light: #f45c43;

$clr-home-light: #4ca1af;

$clr-cover-dark: #0a212f;
$clr-cover-light: #1a83da;
$clr-cover-base: #123851;

$clr-current-dark: #b06ab3;
$clr-current-light: #4568dc;

$clr-gray-dark: #212121;
$clr-gray-light: #414141;
$clr-gray-text: #aaaaaa;

$clr-apple-blue: #007aff;