body
{
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;

    color: whitesmoke;
    background-color: $clr-black;
    // background: url('/assets/images//TileablePatternBlack-168.png');
    
    padding: 0;
    margin: 0;
}

// reponsive layout base
.content-wrapper
{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

$max-width: 900px;
.content, .children-are-content > *:not(.ignore)
{
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: $max-width)
{
    .children-are-content > *:not(.ignore)
    {
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }
}

a, a:visited
{
    display: inline-block;
    width: fit-content;
    
    color: lighten($clr-sgda-blue, 10%);
    text-decoration: none;
    
    animation: all .1s ease-in;
}

a::after
{
    content: "";

    display: block;
    width: 100%;
    height: 2px;

    background-color: $clr-sgda-blue;
    transform: scaleX(0);
    transform-origin: bottom right;

    transition: transform ease-out 0.25s;
}

a:hover::after, a:active::after
{
    transform: scaleX(1);
    transform-origin: bottom left;
}

a:hover::after, a:active::after
{
    opacity: 1;
}

button
{
    width: fit-content;
    padding: .75rem 2rem;
    
    color: $clr-white;
    font-weight: bold;
    
    border: 3px solid $clr-sgda-green;
    background-color: $clr-sgda-green;
    border-radius: 0.5rem;

    transition: all ease-in .1s;
}

button:hover, button:active
{
    background-color: rgba($clr-sgda-green, 0);
}

img
{
    border-radius: 5px;
}

input, textarea
{
    margin: 3px;
    padding: .3rem;

    border-radius: 4px;
    border: none;
}

input:focus-visible, textarea:focus-visible
{
    outline: solid $clr-sgda-blue 3px;
}

// global gradients
.gradient-sgda
{
    background: linear-gradient(90deg, $clr-sgda-red 0%, $clr-sgda-yellow 33%, $clr-sgda-green 50%, $clr-sgda-blue 90%);
}

.gradient-blue
{
    background: linear-gradient(to top, $clr-home-light, $clr-home-light, $clr-cover-light ) no-repeat 0 0
}

.gradient-black
{
    background: linear-gradient(to top right, $clr-gray-dark, $clr-gray-light) no-repeat 0 0 / cover;
}

// raisincss extensions
.text-no-decoration
{
    text-decoration: none;
}

.w-fit
{
    width: fit-content;
}

// javascript classes
.stateful
{
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out .3s;
}