body
{
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;

    color: whitesmoke;
    background-color: $clr-black;
    
    padding: 0;
    margin: 0;
}

// reponsive layout base
.content-wrapper
{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

$max-width: 900px;
.content, .children-are-content > *:not(.ignore)
{
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: $max-width)
{
    .children-are-content > *:not(.ignore)
    {
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }
}

a, a:visited
{
    color: white;
    text-decoration: underline;
    animation: all .1s ease-in;
}

a:hover
{
    color: $clr-black;
}

button
{
    border: 0;
}

img
{
    border-radius: 5px;
}

// global gradients
.gradient-sgda
{
    background: linear-gradient(90deg, $clr-sgda-red 0%, $clr-sgda-yellow 33%, $clr-sgda-green 50%, $clr-sgda-blue 90%);
}

.gradient-blue
{
    background: linear-gradient(to top, $clr-home-light, $clr-home-light, $clr-cover-light ) no-repeat 0 0
}

.gradient-black
{
    background: linear-gradient(to top right, $clr-gray-dark, $clr-gray-light) no-repeat 0 0 / cover;
}

// raisincss extensions
.text-no-decoration
{
    text-decoration: none;
}