@import "includes/burger";

$linear-half: .25rem;
$linear-full: .5rem;

header.animated-header
{
    // background-color: $clr-code-background;
    background: repeating-linear-gradient($clr-code-background, $clr-code-background $linear-half, lighten($clr-code-background, 0.75) $linear-half, lighten($clr-code-background, 0.75) $linear-full);
    animation: slide 2s linear infinite;

    h1
    {
        color: $clr-code-text;
        text-shadow: 0 0 0.5rem $clr-code-text;
    }

    &.enabled h1.cursor::after
    {
        content: '';
        display: inline-block;
        margin-left: .25rem;
        background-color: $clr-code-text;

        animation-name: blink;
        animation-duration: 1s;
        animation-iteration-count: infinite;

        height: 2rem;
        width: .25rem;
    }
}

@keyframes blink
{
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

nav.main
{
    background-color: $clr-black-alt;

    a
    {
        color: $clr-white;
        p
        {
            padding: 0 .4rem;
        }
    }

    .links
    {
        > div
        {
            padding: .9rem 1.5rem;
        }
    
        > div.active
        {
            font-weight: bold;
            background: $clr-sgda-red;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }
    
        > div.active:nth-child(2n)
        {
            background: $clr-sgda-yellow;
        }
    
        > div.active:nth-child(3n)
        {
            background: $clr-sgda-green;
        }
    
        > div.active:nth-child(4n)
        {
            background: $clr-sgda-blue;
        }
    }

    @media (min-width: 992px)
    {
        .links.stateful
        {
            max-height: none;
        }
    }
}

@keyframes slide
{
    0% {
        background-position-y: 0;
    }
    100% {
        background-position-y: $linear-full;
    }
}