---
layout: compress
---

<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <meta http-equiv='X-UA-Compatible' content='ie=edge' />
        <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
        
        <title> {{ site.title }} | {{ page.title }} </title>

        {% include analytics.html %}
        {% include default-styles.html %}
    </head>
    <body class="flex flex-column justify-between" style="min-height: 100vh;">
        <div>
            {% include navbar.html %}
        </div>

        <main class="children-are-content">
            {{ content }}
        </main>

        {% include footer.html %}
    </body>

    {% include default-scripts.html %}
</html>