---
layout: compress
---

<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <meta http-equiv='X-UA-Compatible' content='ie=edge' />
        <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
        
        <title> {{ site.title }} | {{ page.title }} </title>

        {% include analytics.html %}
        {% include default-styles.html %}

        <style>
            {% capture include_to_scssify %}
            {% include css/posts.scss %}
            {% endcapture %}
            {{ include_to_scssify | scssify }}
        </style>
    </head>
    <body class="flex flex-column justify-between" style="min-height: 100vh;">
        <div>
            {% include navbar.html %}
        </div>

        <main class="children-are-content">
            <h1 class="pt-12 pb-4 text-center"> {{ page.title }}</h1>

            {{ content }}


        {% if page.links %}
            <div>

                <h2 class="text-center pb-1"> Links </h2>
                <div class="flex flex-row flex-wrap justify-center items-center">

                {% for linkpair in page.links %}
                    {% assign licon = linkpair["icon"] %}
                    {% assign llink = linkpair["link"] %}
                    {% assign ltext = linkpair["text"] %}
                    
                    <a href="{{ llink }}" class="mx-2">
                        {% if licon %}
                        <i class="{{ licon }}"></i>
                    {% else %}
                    {{ ltext }}
                    {% endif %}
                </a>
                {% endfor %}
                </div>
            </div>
        {% endif %}
            
            <div class="pb-12"></div>
        </main>

        {% include footer.html %}
    </body>

    {% include default-scripts.html %}
</html>